
  
  .myApp {
    font-family: sans-serif;
   
    width: 100%;
    height: 300px;
   
    padding: 0%;
    margin-top: 65px;
   
  }
  
  

  
  
  .arrow {
    position: absolute;
    
    font-size: 2.8em;
    font-weight: bold;
  
    cursor: pointer;
    color: rgb(248, 248, 248);
  }
  
  .arrow:hover {
    /* position: absolute; */
   
    font-size: 2.8em;
    
  
  
    cursor: pointer;
  }
  
  .nextArrow {
    top: 40%;
    right: 20px;
    font-weight: 100;
  
  }
  
  .prevArrow {
    top: 40%;
   
    
    right: 1300px;
    font-weight: 100;
    z-index: 1;
  }
  
 

  
  
  
  .proimg {
    width: 100%;
    /* margin: 1% 2%; */
    height: 280px;
    /* border: 2px dashed red; */
  }
  




  .slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    
    
    list-style-type: none;
    /* border: 3px solid red; */
    top: 220px;
    
     
  }
 
  .slick-dots  button  {
    
  
   
      display: block;
       width: 1rem;
      height: 1rem;
      padding: 0;
      background-color: orange;
      z-index: 1;

      display: block;
			width: 1rem;
			height: 1rem;
			padding: 0;
			
			border: none;
			border-radius: 100%;
			background-color: orange;
      
			
	
      
      
     
    }
  
    /* .slick-dots  li.slick-active button {
      background-color: rgb(115, 115, 115);
    } */
  

  
  
    .myApp2 {
      font-family: sans-serif;
     
      width: 100%;
      height: 200px;
     
      padding: 0%;
      margin-top: -0px;
      margin-bottom: -22px;
    }
    .myApp2 img{
      height: 150px;
      margin: 0px ;
      transition: transform .4s;
      border-radius: 5px; 
      
    }
    .myApp2 img:hover{
      border-radius: 5px; 
      transform: scale(1.10); 
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      
      
    }
    .slidecontainer{
      background-color: #0f171e;
      margin-top: -40px;
      padding: 0px 5%;
      color: white;
      padding-top: 10px;
    }
    .slidecontainer p{
      text-align: left;
      
    }